.header {
  height: 280px;
  @include jb($blue,$green,45);
  .logo {
    font-size: 48px;text-align: center;line-height: 240px;
    text-shadow: 1px 1px 2px $c55;
    a {color: $cff;opacity: .8;}
  }
}
.menu {
  width: 970px;margin: -40px auto 20px;background: rgba($cff,.5);
  border-radius: 5px 5px 0 0;height: 40px;padding: 0 5px;
  ul {
    display: table;width: 100%;table-layout: fixed;text-align: center;
    li {display: table-cell;}
    a {
      height: 40px;display: block;line-height: 40px;font-size: 13px;color: $cff;padding-top: 5px;margin-top: -5px;
      text-shadow: 1px 1px 1px $c55;border-radius: 3px 3px 0 0;
      &:hover {
        color: $elblack;background: $cff;font-size: 14px;line-height: 35px;font-weight: bold;
        text-shadow: 1px 1px 1px $c99;
      }
    }
  }
}
.main {
  width: 940px;margin: 0 auto;background: $cff;padding: 20px;border-radius: 5px;box-shadow: 0 0 5px $gray inset;
  @extend .cf;
  .crumbs {
    padding-bottom: 15px;border-bottom: 1px solid $gray;color: $c99;
    strong {color: $c22;}
  }
}


.copy {
  padding: 20px;text-align: center;color: $c99;
}

.home_box {
  width: 920px*.5;float: left;
  &:nth-child(2n) {
    margin-left: 20px;
  }
  &:not(:nth-last-child(-n+2)) {
    margin-bottom: 20px;
  }
  header {
    position: relative;
    @include jb($cff,$cf9);
    h2 {
      font-size: 15px;color: $elblack;height: 25px;border-bottom: 1px solid $gray;text-indent: 5px;
    }
    a {
      display: block;position: absolute;right: 5px;top: 0;padding:3px 5px;background: $blue;color: $cff;border-radius: 3px;
    }
  }
  ul {padding: 5px 0;}
  li {
    padding:0 5px 0 13px;
    @include online(28px);position: relative;
    time {float: right;color: $elsilver;padding-left: 10px;}
    a {font-size: 13px;}
    &:before {
      content: "";display: block;width: 3px;height: 3px;background: $cf60;position: absolute;left:5px;top: 12px;
    }
    &:hover {
      background: $elgray;
    }
  }
}
